<h2>Project List</h2>
<%= notice %>
<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Maximum Allowed Hours</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td id="project-name"><%= project.name %></td>
        <td id="time-limit"><%= project.time_limit %></td>
        <td><%= link_to 'Add Time Entry', time_entries_new_path(:project_id => project.id)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
