<h2>All Time Entries</h2>

<table>
  <thead>
    <tr>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |entry| %>
      <tr>
        <td><%= entry.duration %></td>
      </tr>
    <% end %>
  </tbody>
</table>
