<h2>All Time Entries</h2>

<table>
  <thead>
    <tr>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |entry| %>
      <tr>
        <td><%= entry.duration %></td>
<!--        <td><%= link_to 'Edit', edit_school_path(school), class: "btn btn-mini" %>
            <%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
        </td>
-->      </tr>
    <% end %>
  </tbody>
</table>
