<h2>All Time Entries</h2>
<%= notice %>
<table>
  <thead>
    <tr>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |entry| %>
      <tr>
        <td id="duration"><%= entry.duration %></td>
        <td id="date"><%= entry.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
